<div class="container">
  <h1><%= @challenge.name %></h1>

  <% @challenge.messages.each do |message| %>
    <p>
      <strong><%= message.role %></strong>
      <%= raw(render_markdown(message.content)) %>
    </p>
  <% end
</div>
